.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

 
.count {
    font-size: 40px;
    color: rgb(116, 7, 7);
}
 
.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
 
.control{
    font-size: 20px;
    padding: 10px 20px;

}
 
 
